body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: var(--lightblue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}

:root {
  --primary: #36213e;
  --secondary: #554971;
  --tertiary: #63768D;
  --blue: #8AC6D0;
  --lightblue: #B8F3FF;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

header {
  background: var(--primary);
}

header a {
  color: var(--blue);
}

.title {
  padding-left: 30px;
}

button {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
  color: var(--lightblue);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

/* .mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
} */

.nav-button {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}